body{
    background-color: brown;
}

h1 {
    text-align: center;
    color: cadetblue;
    font-family: fantasy;
    font-style: italic;
    font-size: larger;
    font-size: 60px;
}

.nyumba {
    text-align: center;
    font-size: 40px;
    font-style: oblique;
}
img {
display: block;
margin-left: auto;
margin-right: auto;
width: 1300;
}
p {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
}
h2 {
    text-align: center;
    color: blue;
    font-size: 60px;
    font-style: oblique;
}

img 
{
    width: 100%;
}

.column, .column1, .column2, .column3 {
    float: left;
    width: 20%;
    padding: 25px;
}
 h3 {
    text-align: left;
    color:blue ;
    font-size: 60px;
    font-style: oblique; 
}

#contact h3 ul li {
    list-style-type: none;
    text-align: left;
}

p{
    font-size: 40px;
}
p{
    font-style: oblique;
}
p{
    color: chartreuse;
}
.hp {
    text-align: center;
    font-size: 40px;
    font-style: oblique;
}
.tl {
    text-align: center;
    font-size:40px ;
    font-style: oblique;
}
