h1 {
    text-align: center;
    color: cadetblue;
    font-family: fantasy;
    font-style: italic;
    font-size: larger;
    font-size: 60px;
}

.nyumba {
    text-align: center;
}
img {
display: block;
margin-left: auto;
margin-right: auto;
width: 1300;
}
p {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;

}
body{
    background-color: brown;
}
p{
    font-size: 40px;
}
p{
    font-style: oblique;
}
p{
    color: chartreuse;
}
.hp {
    text-align: center;
    font-size: 40px;
    font-style: oblique;
}
.tl {
    text-align: center;
    font-size:40px ;
}
